<div class="container" style="margin: 100px auto;">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar datos del profesional</h4>
            <br>
            <form action="/admin/novedades/modificar" method="post">
                <input type="hidden" value="{{servicio.id}}" name="id">
                <div class="form-group">
                    <label for="">Apellido y nombre</label>
                    <input type="text" class="form-control" name="usuarios" value="{{servicio.usuarios}}">
                </div>
                <br>
                <div class="form-group">
                    <label for="">Cargo</label>
                    <input type="text" class="form-control" name="cargo" value="{{servicio.cargo}}">
                </div>
                <br>
                <div class="form-group">
                    <label for="">Información</label>
                    <textarea class="form-control" name="info">{{servicio.info}}</textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Modificar</button>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>