<div class="container" style="margin-top:100px;">
    {{!-- fila 1 --}}
    <div class="row">
        <div class="col">
            <h5 style="float:right;">
                <span> Bienvenido {{persona}}!</span>
                <a href="/admin/login/logout/" class="btn btn-danger"> Cerrar sesión <i class="fas fa-sign-out-alt"></i> </a>
            </h5>
        </div>

    </div>
{{!-- FIN FILA 1 --}}
    {{!-- inicio fila 2 --}}
    <a style="float:right;" href="/admin/servicios/agregar" class="btn btn-success"><i class="fas fa-plus"></i> Nuevo </a>
    <div class="row">
        <div class="col">
            <h3>Listado de profesionales</h3>
        </div>
    </div> {{!Fin fila}}

    {{!-- inicio fila 3 --}}
       {{!-- fila 3 --}}
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="">
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Nombre y apellido</th>
                        <th scope="col">Profesión</th>
                        <th scope="col">Imagen</th>
                        <th scope="col" class="text-right">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each servicios}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{usuarios}}</td>
                        <td>{{cargo}}</td>
                        <td>{{info}}</td>
                        <td>{{{imagen}}}</td>
                        <td class="text-right">
                            <a href="/admin/servicios/modificar/{{id}}" class="btn btn-secondary"><i
                                    class="fas fa-pencil-alt"></i> </a>
                            <a href="/admin/servicios/eliminar/{{id}}" class="btn btn-secondary"><i
                                    class="fas fa-trash"></i> </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div> {{!-- fin fila 3 --}}

</div> {{!-- FIN container --}}